<template>
    <v-navigation-drawer
        v-model="settingsSidebarState"
        left
        fixed
        temporary
        width="500"
        class="settings-sidebar"
    >
        <v-layout>
            <v-spacer />
            <v-flex shrink>
                <v-btn flat icon @click="closeSidebar">
                    <v-icon small>fas fa-chevron-left</v-icon>
                </v-btn>
                <v-btn flat icon @click="closeSidebar">
                    <v-icon small>fas fa-external-link-alt</v-icon>
                </v-btn>
            </v-flex>
        </v-layout>

        <v-list>
            <v-list-tile>
                <v-list-tile-action>
                    <v-btn flat icon @click="settingsSidebarState = !settingsSidebarState">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-select
                        :items="items"
                        label="Solo field"
                        solo
                        dense
                        flat
                        full-width
                    ></v-select>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    data () {
        return {
            selected: '',
            items: ['Foo', 'Bar', 'Fizz', 'Buzz']
        }
    },
    computed: {
        settingsSidebarState: {
            get: function () {
                return this.$store.state.layout.functionSidebars[0].state
            },
            set: function (state) {
                if (state !== this.$store.state.layout.functionSidebars[0].state) {
                    this.$store.commit('layout/updateFunctionSidebarState', 0)
                }
            }
        }
    },
    methods: {
        closeSidebar () {
            this.$store.commit('layout/updateFunctionSidebarState', 0)
        }
    }
}
</script>

<style lang="scss">
.settings-sidebar {
    .v-messages { 
        min-height: 0px; 
    }
    .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
        margin-bottom: 0px;
    }
    .v-text-field.v-text-field--enclosed {
        width: 100%;
    }
}
</style>
