<template>
    <v-app dark class="custom-scrollbar">
        <v-navigation-drawer
            :mini-variant="mainSidebarMiniVariant"
            fixed
            app
            width="170"
            mini-variant-width="50"
            class="main-sidebar"
        >
            <v-list>
                <div v-bar> <!-- el1 -->
                <div>
                <v-list-tile
                    @click.stop="mainSidebarMiniVariant = !mainSidebarMiniVariant"
                >
                    <v-list-tile-action>
                        <v-icon medium>{{ `fas fa-chevron-${mainSidebarMiniVariant ? 'right' : 'left'}` }}</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
                <v-list-tile
                    v-for="item in functionSidebars"
                    :key="item.title"
                    @click="updateFunctionSidebarState(item.id)"
                >
                    <v-list-tile-action>
                        <v-icon small>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="item.title" />
                    </v-list-tile-content>
                </v-list-tile>
                </div>
                </div>
            </v-list>
        </v-navigation-drawer>

        <div v-for="item in functionSidebars" :key="item.id">
            <component v-bind:is="item.component" />
        </div>

        <v-toolbar app height="40" scroll-off-screen clipped>
            <v-toolbar-title>Title</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn icon small flat @click.stop="chatSidebarState = !chatSidebarState">
                    <v-icon small :color="chatSidebarState ? 'grey' : ''">fas fa-comment</v-icon>
                </v-btn>
                <v-btn large flat icon>
                    <v-avatar
                        size="36"
                    >
                        <img src="https://vuetifyjs.com/apple-touch-icon-180x180.png" alt="avatar">
                    </v-avatar>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <v-content>
            <v-container>
                <nuxt />
            </v-container>
        </v-content>

        <v-navigation-drawer
            v-model="chatSidebarState"
            right
            fixed
            app
        >
            <v-layout>
                <v-flex shrink>
                    <v-btn flat icon @click="closeSidebar">
                        <v-icon small>fas fa-external-link-alt fa-flip-horizontal</v-icon>
                    </v-btn>
                    <v-btn flat icon @click="chatSidebarState = !chatSidebarState">
                        <v-icon small>fas fa-chevron-right</v-icon>
                    </v-btn>
                </v-flex>
                <v-spacer />
            </v-layout>
        </v-navigation-drawer>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            title: 'Vuetify.js'
        }
    },
    computed: {
        mainSidebarMiniVariant: {
            get: function () {
                return this.$store.state.layout.mainSidebar.miniVariant
            },
            set: function (val) {
                this.$store.commit('layout/updateMainSidebarMiniVariant')
            }
        },
        chatSidebarState: {
            get: function () {
                return this.$store.state.layout.chatSidebar.state
            },
            set: function (state) {
                if (state !== this.$store.state.layout.chatSidebar.state) {
                    this.$store.commit('layout/updateChatState')
                }
            }
        },
        functionSidebars: function () {
            return this.$store.state.layout.functionSidebars
        }
    },
    methods: {
        updateFunctionSidebarState (id) {
            this.$store.commit('layout/updateFunctionSidebarState', id)
        }
    }
}
</script>

<style lang="scss">
.main-sidebar {
    .v-list__tile__action {
        min-width: 30px !important;

        a {
            padding: 0 8px !important;
        }
    }
}

html, div, aside {
    scrollbar-width: thin;
}
</style>
