<template>
    <v-layout class="text-xs-center">
        <v-flex xs3>
            <h1>Popular on Reddit</h1>
        </v-flex>
        <v-flex xs6>
            <v-flex xs12>
                <h1>{{ new Date() }}</h1>
            </v-flex>
            <v-flex xs12>
                <h1>Popular on History</h1>
            </v-flex>
            <v-flex xs12>
                <h1>Popular on Links</h1>
            </v-flex>
        </v-flex>
        <v-flex xs3>
            <v-flex>
                <h1>Github</h1>
            </v-flex>
        </v-flex>
    </v-layout>
</template>

<script>
export default {

}
</script>
